* {
  box-sizing: border-box;
}

html {
  --color-text-primary: #2a3443;
  --color-text-secondary: #5e6673;
  --color-background: #db960a;
  --color-light-grey: #f4f3f2;
  --color-divider: rgba(0, 0, 0, 0.12);

  /* https://material.io/components/cards/cards.html#usage */
  --material-card-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --material-card-shadow-inset: 0 0 0 0 rgba(0, 0, 0, 0.2),
    0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);

  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  --system-font-stack: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  --color-background-all: #6d5f47;
  --color-background-light: #ffeed4;
  --color-footer-bar: #221f19;
  --color-footer-bar-content: #302f2c;

  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--system-font-stack);
  color: var(--color-text-primary);
  font-size: 18px;
  line-height: 1.5rem;
}

html,
body,
main {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('./assets/fonts/noto-sans-tc_regular_zh_lzh_785da7cebd0b.woff2')
      format('woff2'),
    url('./assets/fonts/noto-sans-tc_regular_zh_lzh_785da7cebd0b.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('./assets/fonts/noto-sans-tc_bold_zh_lzh_bbcfc9a4d4b2.woff2')
      format('woff2'),
    url('./assets/fonts/noto-sans-tc_bold_zh_lzh_bbcfc9a4d4b2.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.header-title {
  margin-left: 24px;
  margin-right: 18px;
  font-family: Roboto, Source Sans Pro, sans-serif;
}

[hidden] {
  display: none;
}

h1,
nav {
  display: inline-block;
}

header,
nav {
  padding-left: 16px;
  padding-bottom: 8px;
}

main {
  /*  padding: 16px; */
  /*  padding: 116px 90px; */
}

header {
  color: var(--color-text-primary);
}

footer {
  background: #777;
}

@media screen and (max-width: 860px) {
  vaadin-tabs {
    display: none;
  }
  main {
  }
}

vaadin-tab {
  color: var(--color-text-primary);
}

vaadin-app-layout {
  --vaadin-app-layout-navbar-background: var(--color-background);
}

.content {
  margin-left: 24px;
}

a.menu-tab {
  text-decoration: none;
}

/* WebDesign */
body {
  background-color: var(--color-background-light);
}

.logo-buddhanexus {
  position: absolute;
  top: -65px;
  left: 15px;
  width: 150px;
  height: 150px;
}

vaadin-app-layout {
  background-color: var(--color-background-light);
}

.menu-tab vaadin-tab {
  color: #fff;
}

.logo-container {
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: center;
  background: var(--color-background-all);
  display: flex;
  justify-content: center;
}

.logo-position-start {
  height: 420px;
  position: relative;
}

.logo-position {
  height: 80px;
  position: fixed;
}

.logo-position img {
  position: fixed;
  top: -200px;
}

.logo-position-start img {
  position: relative;
  top: 10px;
}

.navbar-fixed {
  position: fixed;
  top: 80px;
}

.logo-container-pli {
  position: fixed;
  width: 100%;
  height: 116px;
  z-index: 1;
  text-align: center;
  background: url('/src/assets/img/background_pli.jpg');
  background-color: var(--color-background-all);
}

.logo-container-skt {
  position: fixed;
  width: 100%;
  height: 116px;
  z-index: 1;
  text-align: center;
  background-image: url('/src/assets/img/background_skt.jpg');
  background-color: var(--color-background-all);
}

.logo-container-tib {
  position: fixed;
  width: 100%;
  height: 116px;
  z-index: 1;
  text-align: center;
  background-image: url('/src/assets/img/background_tib.jpg');
  background-color: var(--color-background-all);
}

.logo-container-chn {
  position: fixed;
  width: 100%;
  height: 116px;
  z-index: 1;
  text-align: center;
  background-image: url('/src/assets/img/background_chn.jpg');
  background-color: var(--color-background-all);
}

#home {
  padding-bottom: 0px;
}

#splitter {
  background: var(--color-background-all);
}

.footer-bar {
  background: var(--color-footer-bar);
  text-align: right;
  font-family: var(--material-font-family);
  font-size: var(--material-button-font-size);
}
.footer-bar-content {
  color: #fff;
  background: var(--color-footer-bar-content);
  float: right;
  padding: 0 3em 0 1em;
}

.footer-bar-content a,
.footer-bar-content a:hover,
.footer-bar-content a:active {
  color: #fff;
  font-family: var(--material-font-family);
  font-size: var(--material-button-font-size);
  text-decoration: none;
}

.footer-color {
  background: var(--color-background-all);
  min-height: 3em;
}

.footer-right {
  text-align: right;
}

.footer-logo {
  width: 69px;
  margin: 10px 20px 5px 20px;
}

footer {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  font-weight: 500;
  outline: none;
}

footer .footer-bar-content a.link {
  font-family: var(--material-font-family);
  font-size: var(--material-footer-link-font-size);
  line-height: var(--material-footer-link-line-height);
  padding: 0 0 0 1.1em;
  color: #fff;
}

footer .footer-bar-content a.link:hover {
  color: #ccc;
  text-decoration: underline;
}
